@model Contacts.Models.ViewModels.ContactVM

@{
    ViewData["Title"] = "Nuevo contacto";
}

<h1>Nuevo contacto</h1>

<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Contact.Name" class="form-label"></label>
        <input asp-for="Contact.Name" class="form-control" />
        <small class="text-danger">
            <span asp-validation-for="Contact.Name"></span>
        </small>
    </div>
    <div class="mb-3">
        <label asp-for="Contact.Phone"></label>
        <input asp-for="Contact.Phone" pattern="[0-9]{3}-[0-9]{9}" class="form-control" placeholder="Format: 123-123456789" />
        <small class="text-danger">
            <span asp-validation-for="Contact.Phone"></span>
        </small>
    </div>
    <div class="mb-3">
        <label asp-for="Contact.Email" class="form-label"></label>
        <input asp-for="Contact.Email" class="form-control" />
        <small class="text-danger">
            <span asp-validation-for="Contact.Email"></span>
        </small>

        @* <i class="bi bi-exclamation-circle"></i> *@
    </div>
    <div class="mb-1">Grupos</div>
    <div class="form-check mb-3">        
        @foreach (var item in Model.CategoryCheckList)
        {
            <input type="checkbox" id="cat-@item.Id" name="cat-@item.Id" value="@item.Id" @(item.IsChecked ? "checked" : "") class="form-check-input" />
            <label for="cat-@item.Id" class="form-check-label">@item.LabelName</label>
            <br />
        }
    </div>
    <div class="row mb-3">
        <div class="col-6 col-md-3 col-xl-2">
            <input type="submit" class="btn btn-primary w-100" value="Guardar" />
        </div>
        <div class="col-6 col-md-3 col-xl-2">
            <a asp-controller="Contact" asp-action="Index" class="btn btn-secondary w-100">Volver</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}